= simple_form_for([:admin, @trend], html: { class: 'form-horizontal' }) do |f|
  = f.input :name, label: 'Имя'
  = f.input :description, label: 'Описание'
  = f.input :active, label: 'Активность'

  = f.submit 'Сохранить'
