= content_for :action_content do
  %table.table
    %tr
      %th Имя
      %th Статей
      %th Активность
      %th Действия
    - @trends.each do |trend|
      %tr
        %td= link_to trend.name, admin_trend_path(trend)
        %td= link_to trend.articles.count, admin_trend_path(trend)
        %td= link_to (trend.active? ? "Да" : "Нет"), admin_trend_path(trend)
        %td
          = link_to "Изменить", edit_admin_trend_path(trend)
          = link_to "Удалить", admin_trend_path(trend), method: :delete

= render 'action_name', title: "Создать новый тренд", link: new_admin_trend_path, name: "Тренды - #{@trends.count}"

