$('.articles').append('<%= j render(partial: '/articles/article', collection: @articles) %>');
<%- if @articles.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate(@articles) %>');
<% else %>
  $('.pagination').html('<p>Новости кончились.<a href="<%= articles_path %>"">Обновить страницу.</a></p>');
<% end %>
