.panel.panel-primary
  .panel-heading
    %h3.panel-title.left Обновление новостей
    = link_to 'Запустить процесс', feed_admin_articles_path, class: 'btn btn-default pull-right'
    .clearfix
  .panel-body
    - if @progresses.count > 0
      - @progresses.each do |progress|
        .progress
          .progress-bar(role="progress-bar" aria-valuenow="#{progress.progress}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width:#{progress.progress}%;")
            = "#{progress.progress}%"
.articles
  = render partial: '/articles/article', collection: @articles
#logbook-pagination
  = will_paginate @articles
