#admin-wrapper
  - if permitted_to?(:manage, :admin_articles)
    = form_for [:admin, article], html: { class: 'row clearfix admin_article_block' } do |f|
      .col-lg-2
        = link_to "Удалить", admin_article_path(article), method: :delete, remote: true, class: "delete_article"
        = link_to "Открепить", ungroup_admin_published_article_path(article) if defined?(nested)

      - active = article.shared ? 'label label-info' : ''
      .col-lg-3{class: active}= link_to "Поделиться", "http://multiposting.tk/message_sets/new", target: :blank, class: "share_button"
      .col-lg-3
        = link_to "Редактировать", edit_admin_article_path(article)
      .col-lg-5
        = f.select :trend_id, options_for_select(@admin_trends.map{|t| [t.name, t.id]}, article.trend_id), {include_blank: true}, class: "choosen_select", data: {remote: true, url: admin_article_path(article), method: 'patch'}
      .col-lg-3
        Прикреплено
        = f.check_box :sticky, {}, "true", "false"
      .col-lg-3
        = f.label :published, "Опубликовать"
        = f.check_box :published, {}, "true", "false"
    :javascript
      $('.choosen_select').chosen({
        allow_single_deselect: true,
        no_results_text: 'No results matched',
        width: '200px',
        placeholder_text: '\0'
      });

