%li.list-group-item.article(id="article_#{article.id}")
  .left
    - if article.img_url
      %a.article_image_container(href="#{article_path(article)}")
        %img.article_image(src="#{article.img_url}")
    .article_body
      = link_to article.title, article, class: 'article_title'
      %p.article_summary= article.summary

    .clearfix
  .clearfix
  = render 'article_info', article: article
