$('.articles').append('<%= j render(@articles) %>');
<%- if @articles.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate(@articles) %>');
<% else %>
  $('.pagination').html('<p>Новости кончились.<a href="<%= articles_path %>"">Обновите страницу.</a></p>');
<% end %>
