/ .articles
/   = render @articles
/   = render 'discus_comment_count'
/ #logbook-pagination
/   = will_paginate @articles
.logbook-post-title
  .left
    %h2
      = l DateTime.now, format: :ru_full_month_date
  / .right
  /   .date
  /     %time= @today_news_count
  .clearfix

%ul.list-group.articles
  = render @articles
#logbook-pagination
  = will_paginate @articles
