
.logbook-post-content.detail.post.tag-panorama.tag-mountain
  = render '/articles/article_title', article: @article
  .logbook-post-single
    = @article.text.html_safe
  .logbook-post-excerpt
    .author-info
      .left#authorimg
        .logbook-img-figure
          .logbook-img-author(style="background-image:url(#{@article.news_source.image_url})")
            %span.hidden= @article.news_source.name
      .left#authorbio
        %h3
          = link_to @article.news_source.name, @article.news_source.webpage
        .website
          = link_to @article.url, @article.url
        %p.description
          = @article.news_source.description
      .clearfix
  = render 'article_info', article: @article
#logbook-disqus
  = render '/articles/disqus', article: @article
