= simple_form_for([:admin, @news_source], html: { class: 'form-horizontal' }) do |f|
  = f.input :name, label: 'Имя'
  = f.input :url, label: 'Ссылка'
  = f.input :find_helper, label: 'Поиск в пределах'
  = f.input :ignore_helper, label: 'Игнорировать'
  = f.input :description, label: 'Описание'
  = f.input :image_url, label: 'Ссылка на логотип'
  = f.input :webpage, label: 'Ссылка на страницу издания'
  = f.input :active, label: 'Активность'
  = f.input :greedy, label: 'Жадность'

  = f.submit 'Сохранить'
