= content_for :action_content do
  %table.table
    %tr
      %th Название
      %th Статей
      %th URL
      %th Действия
    - @news_sources.each do |source|
      %tr
        %td= link_to source.name, admin_news_source_path(source)
        %td= link_to source.articles.count, admin_news_source_path(source)
        %td= link_to source.url, source.url, target: "_blank"
        %td= link_to "Удалить", admin_news_source_path(source), method: :delete
        %td= link_to "Изменить", edit_admin_news_source_path(source)
        %td= link_to "Очистить", clear_admin_news_source_path(source), method: :post

= render 'action_name', title: 'Новый источник новостей', link: new_admin_news_source_path, name: "Источники новостей (#{@news_sources.length})"
