= content_for :action_content do
  %h4= "Статей: #{@news_source.articles.count.to_s}"

= render 'action_name', title: 'Новый источник новостей', link: new_admin_news_source_path, name: @news_source.name
