// Readable 3.0.3
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Raleway:700");

// Navbar =====================================================================

.navbar {
  font-family: $headings-font-family;
  text-transform: uppercase;

  .navbar-nav > li > a {
    padding-top: $navbar-padding-vertical + 6px;
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover {
    text-decoration: underline;
  }

  .navbar-default .navbar-nav > .active > a:hover {
    color: $navbar-default-link-hover-color;
  }

  .navbar-inverse .navbar-nav > .active > a:hover {
    color: $navbar-inverse-link-hover-color;
  }

  .navbar-brand {
    padding-top: $navbar-padding-vertical + 5px;
  }
}

// Buttons ====================================================================

.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
}

// Typography =================================================================

h1, h2, h3, h4, h5, h6 {
  // text-transform: uppercase;
}

p {
  margin-bottom: 1.4em;
}

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

.pagination {

  .active > a,
  .active > a:hover {
    border-color: #ddd;
  }

  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 14px 24px;
  }
}

// Indicators =================================================================

.alert {
  a,
  .alert-link {
    color: $alert-success-text;
    text-decoration: underline;
  }
}

// Progress bars ==============================================================

// Containers =================================================================

.panel {

  .panel-primary,
  .panel-success,
  .panel-warning,
  .panel-danger,
  .panel-info {
    .panel-heading {
      color: #fff;
    }
  }
}
