= simple_form_for([:admin, @keyword], html: { class: 'form-horizontal' }) do |f|
  = f.input :name, as: :text, label: 'Имя'
  = f.input :keyword_type, as: :select, collection: [['Должно быть на странице', 'required'], ['Не должно быть на странице', 'not_included']], label: 'Тип'
  = f.submit 'Сохранить'
