= content_for :action_content do
  %table.table
    %tr
      %th Имя
      %th Действия
    - @keywords.each do |keyword|
      %tr
        %td= keyword.name
        %td
          = link_to "Изменить", edit_admin_keyword_path(keyword)
          = link_to "Удалить", admin_keyword_path(keyword), method: :delete

= render 'action_name', title: "Новый источник", link: new_admin_keyword_path, name: "Ключевые слова - #{@keywords.count}"
