.articles{
  margin-top: 0;
  @include box-shadow(rgba(0, 0, 0, 0.0980392) 0px 2px 10px 0px);
  .article{
    a{
      @include link(black, #e94c17, none, none);
    }
    i{
      color: black;
    }
    min-height: 108px;
    &:before, &:after{
      width: 900px;
      display: block;
      content: "";
      height: 0px;
    }
    border-top: 1px solid #f2f2f5;
    font-family: $headings-font-family;
    position: relative;
    p{
      margin: 0;
    }
    .article_title{
      text-align: left;
      font-size: 1.4em;
    }
    .article_summary{
      color: #444444;
    }
    small{
      font-size: 75%;
      // position: absolute;
      // bottom: 8px;
    }
    .article_image_container{
      height: 82px;
      width: 82px;
      overflow: hidden;
      display: block;
      margin-right: 12px;
      margin-top: 3px;
      .article_image{
        height: 82px;
        overflow: hidden;
      }
      float: left;
    }
    .article_body{

    }
  }
}
// Single article
.article{
  padding-left: 18px;
  a{
    @include link(black, #e94c17, underline, none);
  }
}
