.lead{
  height: 300px;
  margin-bottom: 15px;
  display: block;
  .lead-left{
    float: left;
    width: 60%;
    height: 100%;
    overflow: hidden;
    .lead-featured-item{
      right: 2px;
    }
  }
  .lead-right{
    float: right;
    width: 40%;
    height: 150px;
    overflow: hidden;
    .lead-featured-item{
      height: 150px;
    }
    &.top{
      .lead-featured-item{
        bottom: 1px;
      }
    }
    &.bottom{
      .lead-featured-item{
        top: 1px;
      }
    }
  }

  .lead-featured-item{
    background-color: $theme_color;
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    white-space: normal;
    width: 100%;
    height: 300px;
  }
}
