.trend_list{
  padding-left: 15px;
  padding-top: 0;
  @include box-sizing(border-box);
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
  &.affix{
    width: 15%;
    top: 0px;
    // padding-top: 10px;
  }
  .active{
    font-weight: bold;
  }
  // .list-group-item{
  //   &:first-child, &:last-child{ border-radius: 0; }
  //   border-left: none;
  //   border-right: none;
  //   position: relative;
  //   .badge{
  //     border-radius: 0;
  //     margin-top: -10px;
  //     position: absolute;
  //     right: 10px;
  //     top: 50%;
  //   }
  // }
}
