#logbook-social-wrapper
  .container
    .row
      .col-lg-12
        #logbook-social-body
          .left
            %ul#nav.l_tinynav1
              %li.selected
                %a(href="/" id="link-home")
                  %i.fa.fa-home
                  %span.hidden Home
              %li{class: ('active' if params[:controller] == 'admin/articles' && (!params[:published] || params[:published] == "false") && (!params[:archive]))}
                = link_to("Новое", admin_articles_path(published: false)) if permitted_to?(:manage, :admin_articles)
              %li{class: ('active' if params[:controller] == 'admin/articles' && params[:published] == "true")}
                = link_to("Интересное", admin_articles_path(published: true)) if permitted_to?(:manage, :admin_articles)
              %li{class: ('active' if params[:controller] == 'admin/articles' && params[:archive] == "true")}
                = link_to("Лента", admin_articles_path(archive: true)) if permitted_to?(:manage, :admin_articles)
              %li{class: ('active' if params[:controller] == 'admin/trends')}
                = link_to("Тренды", admin_trends_path) if permitted_to?(:manage, :admin_trends)
              %li{class: ('active' if params[:controller] == 'admin/keywords')}
                = link_to("Слова", admin_keywords_path) if permitted_to?(:manage, :admin_keywords)
              %li{class: ('active' if params[:controller] == 'admin/news_sources')}
                = link_to("Источники", admin_news_sources_path) if permitted_to?(:manage, :admin_news_sources)
              %li{class: ('active' if params[:controller] == 'admin/users')}
                = link_to("Пользователи", admin_users_path) if permitted_to?(:manage, :admin_users)
            .clearfix
          .clearfix
