@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@mixin link($color, $hover_color, $decoration, $hover_decoration){
  color: $color;
  text-decoration: $decoration;
  &:hover{
    color: $hover_color;
    text-decoration: $hover_decoration;
  }
}
@import 'bootstrap_themes/variables';
// $theme_color: #454545;
// $link-color: #333333;
// @import 'bootstrap_and_overrides';
// @import 'parts/google_search';
// @import 'parts/sidebar';
// @import 'parts/articles';
// @import 'parts/photos';
// @import 'chosen';
// body{
//   // padding-top: 65px;
// }

// a{
//   @include link(#333333, #e94c17, none, none);
//   &:hover{
//     @include transition(color 0.2s ease-in-out);
//   }
// }

// .today_stats{
//   font-family: $headings-font-family;
//   background-color: $theme_color;//rgb(14, 43, 92);
//   color: #EEEEEE;
//   padding-left: 18px;
//   line-height: 43px;
//   border-bottom: 1px solid $theme_color;//rgb(14, 43, 92);
// }

// .header.affix{
//   @include box-shadow(0 0 9px 0 $theme_color!important);
// }
@import 'font-awesome';
@import 'fontello-embedded';
@import 'bootstrap';
@import 'styles';
@import 'post';
@import 'chosen';

@import 'parts/articles';
.active{
  background: rgb(58, 65, 69);
  color: white;
  a{
    color: white;
  }
}
#logbook-footer-wrapper a{
    @include link(#e94c17, black, none, none);
}
