/* POST */
#logbook-post-wrapper .col-lg-12{
    padding-left:0;
    padding-right:0;
}

.logbook-post-content{
    margin-bottom:42px;
}

.logbook-post-title{
    background:#343434;
    position:relative;
}

.logbook-post-title .left{
    padding:15px 25px;
    width:700px;
}

.logbook-post-title a{
    color:#fff;
    font-family:'Open Sans', sans-serif;
    transition: ease 0.3s;
}

.logbook-post-title h2{
    color:#fff;
    line-height:1.4em;
    font-size:20px;
    margin:0;
    font-weight:normal;
    letter-spacing: -1px;
    font-family:'Open Sans', sans-serif;
}

.logbook-post-title a:hover{
    color:#999;
}

.logbook-post-title .right{
    background:#fdff30;
    height:100%;
    text-align:center;
    font-family:'Open Sans', sans-serif;
    color:#000;
    position:absolute;
    right:0;
}

.logbook-post-title .right .date{
    padding:17px 14px;
    font-size:15px;
}

.logbook-post-image{
    background:#fff;
}

.logbook-post-image img{
    width:100%;
  padding:18px;
}

.logbook-post-image p{
    margin:0;
    line-height:0;
}

.logbook-post-image iframe{
    width:100%;
    border:0;
    padding:17px;
}

.logbook-post-image [id*='fitvid']{
    height:395px;
}

.logbook-post-excerpt{
    background:#f5f5f5 url(asset-path('img_shadow.png')) no-repeat;
    background-position-x:center;
    padding:18px 19px;
    border-top:1px solid #e9e9e9;
    font-family:'Open Sans', sans-serif;
    font-size:14px;
}

.logbook-post-excerpt p{
    margin:0px 0px 2px 0px;
    line-height:21px;
    color:#333;
}

.logbook-post-info{
    // background:#343434;
    position:relative;
}

.logbook-post-info.top{
    background: #343434;
}

.logbook-post-info .left{
    width:84%;
}

.logbook-post-info .left ul{
    margin:0;
    padding:0;
    list-style:none;
}

.logbook-post-info .left ul li{
    float:left;
    font-family:'Open Sans', sans-serif;
    color:#fff;
}

.logbook-post-info .left a{
    padding:13px 14px 11px;
    display:block;
    color:#fff;
    font-size:1.4em;
    // border-right:1px solid #282828;
    transition:ease 0.3s;
}

.logbook-post-info .left a.facebook{
    padding:13px 18px 11px;
}

.logbook-post-info .left a.facebook:hover{
    background:#0781d7;
}

.logbook-post-info .left a.twitter:hover{
    background:#0bb6db;
}

.logbook-post-info .left a.google-plus:hover{
    background:#f75f5f;
}

.logbook-post-info .left a.google-plus{
    padding:13px 15px 11px;
}

.logbook-post-info .right a{
    background:#01a2d1;
    display:block;
    font-family:'Open Sans', sans-serif;
    text-transform: uppercase;
    color:#fff;
    position:absolute;
    right:0;
    height:100%;
    padding:16px 20px;
    font-size:14px;
    transition:ease 0.3s;
}

.logbook-post-info .right a:hover{
    background:#0ec3f7;

}

.logbook-post-tag{
    padding:16px 17px;
}

.logbook-post-info .logbook-post-tag a{
    font-size: 1em;
    border-right: none;
    display: inline;
    padding-left: 0;
    background: none;
}

.logbook-post-tag i{
    color:#ececec;
}

.logbook-post-tag .fa-user{
    margin-right:4px;
}

.logbook-post-tag .fa-tag{
    margin-left:11px;
    margin-right:3px;
}

.logbook-post-tag .fa-comments{
    margin-left:11px;
    margin-right:3px;
}

.logbook-post-single{
    background:#fff;
    font-family:'Open Sans', sans serif;
    padding:20px 21px;
    line-height:23px;
    color:#202020;
}

.logbook-post-single p{
    margin:0 0 15px;
}

.logbook-post-single a{
    color: #3578C0;
}

.logbook-post-single a:hover{
    color: #BADBFF;
}

.logbook-post-single iframe{
    width:100%;
    border:0;
}

.logbook-post-single iframe{
    margin-bottom:10px;
}

.logbook-post-single h1,
.logbook-post-single h2,
.logbook-post-single h3,
.logbook-post-single h4,
.logbook-post-single h5,
.logbook-post-single h6{
    color:#555;
    line-height: 1.3em;
}

.logbook-post-single img{
    width:100%;
}

.logbook-post-content.detail .logbook-post-tag .fa-clock-o{
    margin-right:7px;
}

.logbook-post-content.detail .logbook-post-excerpt{
    padding:26px 25px 3px;
}

.author-info #authorimg{
    width:120px;
    margin-bottom:21px;
}

.author-info #authorbio{
    width:80%;
    margin-bottom:21px;
}

.author-info #authorbio .website{
    margin-bottom: 7px;
    margin-top:11px;
}

.author-info #authorbio .website a{
    color:#BD3927;
    transition:ease 0.3s;
}

.author-info #authorbio .website a:hover{
    color:#2769BD;
}

.author-info #authorbio h3{
    line-height: 0.7em;
    font-size: 1.3em;
    color: #666;
    margin-top:1px;
}

.author-info #authorbio p{
    margin-bottom:0;
    line-height:22px;
}

#logbook-disqus{
    background:#fff;
    padding:25px;
}

/* Img author */
.logbook-img-figure{
    display: table;
    position: relative;
    text-align: center;
    // border-radius: 100%;
    overflow: hidden;
    z-index: 2;
}

.logbook-img-author{
    display: block;
    width: 99px;
    height: 99px;
    // background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
