/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*
    1.  General
    2.  LogBook CSS
    3.  Media Queries
 */

/* ==========================================================================
   1. General - Setting up some base styles
   ========================================================================== */
body {
  color: #3A4145;
  // background:asset-url('img-bg.png') no-repeat top center fixed;
  /*background-size:cover;*/
  background-repeat: repeat;
}


::-moz-selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

::selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

h1, h2, h3,
h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.7em;
    letter-spacing: -2px;
    text-indent: -3px;
    font-weight:bold;
    margin: 1.2em 0 6px 0;
}

h2 {
    font-size: 1.5em;
    letter-spacing: -1px;
    text-indent: -2px;
    font-weight:bold;
    margin: 1.2em 0 6px 0;
}

h3 {
    font-size: 1.4em;
    letter-spacing: -1px;
    font-weight:bold;
    margin: 1.2em 0 6px 0;
}

h4 {
    font-size: 1.3em;
    letter-spacing: -1px;
    font-weight:bold;
    margin: 1.2em 0 6px 0;
}

h5 {
    font-size: 1.2em;
    letter-spacing: -1px;
    font-weight:bold;
    margin: 1.2em 0 6px 0;
}

h6 {
    font-size: 1.1em;
    letter-spacing: -1px;
    font-weight:bold;
    margin: 1.2em 0 6px 0;
}

a {
    color: #4a4a4a;
    transition: color ease 0.3s;
}

a:hover {
    color: #57A3E8;
    text-decoration:none;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    color: #50585D;
}


ul, ol {
    margin: 1em 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 1.2em 0;
    padding: 0;
    color:#ccc;
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    padding: 0.9em 0.9em 1.1em 1.3em;
    border-left: #69C49C 0.4em solid;
    background:#f9f9f9;
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
    font-size: 15px;
    line-height: 1.5em;
    color:#444;
}

blockquote small {
    display: inline-block;
    margin: 0 0 0 0.5em;
    font-size:0.9em;
    color: #bbb;
}

blockquote small:before { content: '\2014 \00A0'; }

blockquote cite {
    font-weight:bold;
}

blockquote cite a { font-weight: normal; }


dl {
    margin: 1.6em 0;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

mark {
    background-color: #ffc336;
}

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre;
    border: 1px solid #E3EDF3;
    background: #F7FAFB;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.8em 0;
    border: 1px solid #E3EDF3;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #ccc 1px solid;
    color: #666;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 0 0 #fff inset;
}

.left{
    float:left;
}

.right{
    float:right;
}


/* ==========================================================================
   2. LogBook CSS - Private LogBook CSS
   ========================================================================== */
[id*='-wrapper']{
    width:800px;
    margin:0 auto;
}

#logbook-header-wrapper{
    // margin-top:38px;
    margin-top:20px;
    text-align:center;
    color:#fff;
}

#logbook-header-wrapper .col-lg-12{
    padding-left:0;
    padding-right:0;
}

#logbook-site-head{
    padding:74px 0px 70px 0px;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-color:#444;
}

#logbook-site-logo{
    margin-bottom:25px;
    text-align:center;
}

.logbook-cover-figure{
    margin:0 auto;
    display: table;
    position: relative;
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
    z-index: 2;
}

.logbook-cover-img{
    display: block;
    width: 99px;
    height: 99px;
    background-size: cover;
    background-position: center center;
}

#logbook-site-title{
    margin-bottom:7px;
    text-transform: uppercase;
}

#logbook-site-title h1{
    font-size:2em;
    font-family:'Open Sans',sans serif;
    font-weight:700;
    letter-spacing: -3px;
    margin:0;
}

#logbook-site-title a{
    color:#fff;
    transition:ease 0.3s;
}

#logbook-site-title a:hover{
    color:#999;
}

#logbook-site-description{
    font-size:1.4em;
    font-family:'Open Sans',sans serif;
    letter-spacing: -1px;
    color:#f7f7f7;
}

/* Social and Shadow */
#logbook-shadow-wrapper{
    // margin-bottom:35px;
    margin-bottom:10px;
}

#logbook-shadow-wrapper .col-lg-12{
    padding-right:0;
    padding-left:0;
}

.logbook-shadow-content{
    background:url(asset-path('img_shadow_header.png')) no-repeat;
    height:15px;
}


#logbook-social-wrapper .col-lg-12{
    padding-right:0;
    padding-left:0;
    background:#fff;
}

#logbook-social-wrapper .right ul{
    list-style:none;
    margin:0;
    padding:0;
}

#logbook-social-wrapper .right ul li{
    float:left;
}


/* PAGINATION */
#logbook-pagination {
    font-family: 'Open Sans', sans serif;
    color: #f5f5f5;
    text-align: center;
}

#logbook-pagination .pagination{
    margin:0px;
    display:block;
}

#logbook-pagination a {
    color: #f5f5f5;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    padding: 7px 14px;
    border: #f5f5f5 1px solid;
    border-radius: 35px;
    transition:border ease 0.3s;
}

.older-posts{
    margin-left:16px;
}

.newer-posts{
    margin-right:16px;
}

.page-number {
    padding: 5px 0 0;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: #9EABB3;
}


/* FOOTER */
#logbook-footer-wrapper{
    text-align:center;
    // color:#ddd;
    color:#3d3d3d;
    font-size:14px;
    font-family:'Open Sans', sans serif;
    line-height:24px;
    margin-top:35px;
    margin-bottom:38px;
}

#logbook-footer-wrapper a{
    // color:#f5f5f5;
    // transition:ease 0.3s;
}

#logbook-footer-wrapper a:hover{
    // color:#fff;
}

/* ==== 24/1/2014 ==== */
#logbook-social-body .left ul{
    list-style:none;
    padding:0;
    margin:0;
}

#logbook-social-body .left ul li{
    float:left;
    font-size:15px;
}

#logbook-social-body .left ul li a{
    display:block;
    padding:19px 11px 14px;
    transition:ease 0.3s;
    font-family:'Open Sans';
    font-size:16px;
    color: #666;
    min-width: 52px;
}

#logbook-social-body .left ul li a:hover{
    color: #6099E8;
}

#logbook-social-body .left ul li.active a{
    color: white;
}

#logbook-social-body .left ul li.active a:hover{
    color: white;
}

#link-home{
    color:#fff !important;
    font-size:1.7em !important;
    display:block;
    background:#343434;
    padding:9px 14px !important;
    margin-right:12px;
}

#link-home:hover{
    background:#17aad4;
}

#logbook-social-wrapper .right a{
    color:#bbb;
    font-size:1.7em;
    display:block;
    padding:12px 14px 9px;
    border-left:1px solid #e5e5e5;
    transition:ease 0.3s;
}

#logbook-social-wrapper .right a:hover{
    color:#fff;
}

.logbook-blue:hover,
#logbook-social-wrapper .right a.facebook:hover{
    background:#0781d7;
}

.logbook-cyan:hover,
#logbook-social-wrapper .right a.linkedin:hover,
#logbook-social-wrapper .right a.twitter:hover{
    background:#0bb6db;
}

.logbook-red:hover,
#logbook-social-wrapper .right a.pinterest:hover,
#logbook-social-wrapper .right a.google-plus:hover{
    background:#f75f5f;
}

.logbook-green:hover,
#logbook-social-wrapper .right a.tumblr:hover{
    background:#27de9b;
}

.logbook-orange:hover,
#logbook-social-wrapper .right a.rss:hover{
    background:#f69e36;
}

/* RESET PADDING SOCIAL MEDIA */
.facebook{
    /*padding: 12px 15px 9px !important;*/
}

.google-plus,
.twitter{
    /*padding: 12px 12px 9px !important;*/
}

.tumblr{
    /*padding: 11px 14px 10px !important;*/
}

.pinterest {
    /*padding: 11px 12px 10px !important;*/
}

.linkedin {
    /*padding: 11px 13px 10px !important;*/
}

.rss {
    /*padding: 12px 13px 9px !important;*/
}
/* RESET PADDING SOCIAL MEDIA */

.featured .logbook-post-title .right .date:before{
    content: " ";
    position: absolute;
    right: 100%;
    background: #E64848 url('../img/img-star-icon.png') no-repeat center center;
    top: 0;
    width: 45px;
    font-size: 18px;
    color: #fff;
    height: 100%;
}

.logbook-post-image:hover .img-hover{
    display:block !important;
}

.img-hover{
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(asset-path('img_bg_transparent.png'));
}

.img-hover-content {
    position: absolute;
    top: 47%;
    left: 43%;
}

.img-hover-content a{
    display: inline-block;
    padding: 9px 14px;
    color: #fff;
    font-size: 18px;
    border: 2px solid #F76F6F;
    border-radius: 50%;
    transition: ease 0.3s;
    background: #F76F6F;
    margin-right:6px;
}

.img-hover-content a:hover{
    background:#5692c5;
    border: 2px solid #5692c5;
}

.tinynav { display: none }

/* Special Icons */
.soundcloud{
    padding: 15px 8px 6px !important;
}

.soundcloud:hover .fa-soundcloud{
    background: url(asset-path('img_soundcloud_hover.png')) no-repeat center center;
}
.odnoklassniki i{
    text-align: top;
}
.fa-soundcloud{
    background: url(asset-path('img_soundcloud_on.png')) no-repeat center center;
    width: 38px;
    height: 24px;
}
/* Special Icons */

/* ==== 24/1/2014 ==== */


/* ==========================================================================
   3. Media Queries
   ========================================================================== */
@media only screen and (max-width: 900px) {
    [id*='wrapper']{
        width:auto;
        margin:0px 30px;
    }

    .logbook-post-title .left{
        width:80% !important;
    }

    .logbook-post-title h2{
        line-height:1.4em !important;
    }

    #logbook-shadow-wrapper{
        margin-bottom:30px;
    }

    .logbook-shadow-content {
        background-position-x: center !important;
    }

    #logbook-header-wrapper{
        // margin-top:30px;
        margin-top:10px;
    }

    .logbook-post-info .left{
        float:none;
        border-bottom:1px solid #292929;
        width:auto !important;
    }

    .logbook-post-info .left a{
        background:#2d2d2d;
        border-right:1px solid #262626 !important;
    }

    .logbook-post-info .right a{
        position:relative !important;
    }

    /* RESPONSIVE */
    #logbook-social-body .left,
    #logbook-social-body .right{
        float:none;
    }

    #logbook-social-body .left {
        border-bottom: 1px solid #e5e5e5;
    }

    .rss{
        border-right:1px solid #e5e5e5;
    }
    /* RESPONSIVE */
}

@media only screen and (max-width: 768px) {
    [id*='wrapper']{
        width:auto;
        margin:0px 19px;
    }

    #logbook-header-wrapper{
        // margin-top:19px;
        margin-top:10px;
    }

    #logbook-shadow-wrapper{
        margin-bottom:26px !important;
    }

    .logbook-post-content{
        margin-bottom:36px !important;
    }
}

@media only screen and (max-width: 500px) {
    #logbook-shadow-wrapper{
        margin-bottom:20px !important;
    }

    .logbook-post-content{
        margin-bottom:33px !important;
    }

    #logbook-social-wrapper .right a{
        border-left:0;
        border-right:0px;
    }

    .logbook-post-title .right .date {
        padding: 16px 11px;
        font-size: 14px;
    }

    .logbook-post-title .left{
        width:70% !important;
        padding: 13px 21px 14px !important;
    }

    .logbook-post-title .left h2{
        font-size:19px;
    }

    body {
        background:url('../img/img_bg.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }

    .newer-posts,
    .older-posts{
        display:block;
        width: 55%;
        margin: 0 auto;
    }

    .page-number{
        padding:0px 0px;
    }

    .newer-posts{
        margin-bottom:14px;
    }

    .older-posts{
        margin-top:14px;
    }

    .author-info #authorbio{
        width:100% !important;
    }

    .tinynav { display: block }
    #nav { display: none }

    #logbook-social-body .left{
        padding:15px 0px;
    }

    #logbook-social-body select {
        margin: 0px auto;
        width: 90%;
        padding: 6px;
        border: 1px solid #e5e5e5;
        font-size:15px;
        font-family:'Open Sans';
    }
}
