= simple_form_for([:admin, @user], html: { class: 'form-horizontal' }) do |f|
  = f.input :email, label: 'Почта'
  = f.input :password, label: 'Пароль'
  = f.input :password_confirmation, label: 'Подтверждение пароля'
  = f.input :role, collection: [["Администратор", "admin"], ["Модератор", "moderator"], ["Пользователь", "user"]], include_blank: false, label: 'Роль'

  = f.submit 'Сохранить'
