= content_for :action_content do
  %table.table
    %tr
      %th Email
      %th Роль
      %th Онлайн?
      %th Действия
    - @users.each do |user|
      %tr(id="user_#{user.id}")
        %td= user.email
        %td= user.user_role
        %td= user.online? ? "online" : "offline"
        %td
          = link_to "Удалить", admin_user_path(user), method: :delete
          = link_to "Изменить", edit_admin_user_path(user)

= render 'action_name', title: "Новый пользователь", link: new_admin_user_path, name: "Пользователей - #{@users.count} Онлайн - #{@users.inject(0){|sum, u| sum += u.online? ? 1 : 0 }}"
