- title ||= ''
.logbook-post-content
  .logbook-post-info.top
    .left
      %ul
        %li
          %a.logbook-orange(title="#{title}" href="#{link}")
            %i.fa.fa-plus
        %li
          .logbook-post-tag
            = name
      .clearfix
    .clearfix

  .logbook-post-single
    = yield :action_content
