%div
  %span
    %a(href="#{articles_path(source_id: article.news_source.id)}" target="_blank")
      %i.fa.fa-user
      = article.news_source.name
  / %i.fa.fa-tag
  / Panorama, Mountain
  %i.fa.fa-comments
  %a(href="#{article_path(article, anchor: "disqus_thread")}" data-disqus-identifier="#{article.id} #{article.created_at}" target="_blank")
    Комментарии
  .right
    %i.fa.fa-clock-o
    = published_date(article)
    .clearfix
  .clearfix
= render 'discus_comment_count', article: article
