#logbook-footer-wrapper
  .container
    .row
      .col-lg-12
        .logbook-copyright
          © 2012 - 2014
          = link_to "Кавигатор", root_path
          = mail_to "admin@kavigator.ru"
          %br
          / Proudly published with
          / %a(href="http://ghost.org") Ghost
          = render 'liveinternet_counter' if additional_javascript_permitted?
