#logbook-header-wrapper
  .container
    .row
      .col-lg-12
        .right
          - if permitted_to?(:manage, :admin_articles)
            = link_to "Управление", admin_root_path
          - if signed_in?
            = link_to "Выйти", destroy_user_session_path, method: :delete
          - else
            = link_to "Войти", new_user_session_path

        #logbook-site-head{ style: "background-image:url(#{current_background_url})" }
          #logbook-site-logo
            .logbook-cover-figure
              .logbook-cover-img(style="background-image:url(http://logbook04-maskodook.rhcloud.com/content/images/2014/Jan/logo_preview.jpg)")
                %span.hidden Kavigator
          #logbook-site-title
            %h1
              = link_to "Кавигатор", root_path
          #logbook-site-description
            %span Все новости Дагестана
= render 'social_wrapper'
#logbook-shadow-wrapper
  .container
    .row
      .col-lg-12
        .logbook-shadow-content
