#logbook-social-wrapper
  .container
    .row
      .col-lg-12
        #logbook-social-body
          .left
            %ul#nav.l_tinynav1
              %li.selected
                %a(href="#{root_path}" id="link-home")
                  %i.fa.fa-home
                  %span.hidden Домой
              %li{class: ('active' if params[:controller] == 'articles' && params[:archive] == "true")}
                = link_to "Живая лента", articles_path(archive: true)
              %li{class: ('active' if params[:controller] == 'articles' && !params[:archive])}
                = link_to "Интересное", articles_path
              - if permitted_to?(:manage, :articles)
                %li= link_to "Управление", admin_root_path
            %select#tinynav1.tinynav.tinynav1
              %option(value="#{articles_path}" selected="selected") На Главную
              %option(value="#{articles_path}") Интересное
              / %option(value="#") Живая лента
              - if permitted_to?(:manage, :articles)
                %option(value="#{admin_root_path}") Управление
            .clearfix
          .right
            %ul
              %li
                %a(href="https://www.facebook.com/Kavigator" class="facebook")
                  %i(class="fa fa-facebook")
              %li
                %a(href="https://twitter.com/KavkazNavigator" class="twitter")
                  %i(class="fa fa-twitter")
              %li
                %a(href="http://odnoklassniki.ru/group/52076969984084" class="odnoklassniki logbook-orange")
                  %i(class="icon-odnoklassniki")
              %li
                %a(href="https://plus.google.com/b/109208393303400245079/+KavigatorRuOfficial/posts" class="google-plus")
                  %i(class="fa fa-google-plus")
              %li
                %a(href="http://vk.com/kavigator" class="vkontakte logbook-blue")
                  %i(class="fa fa-vk")
              %li
                %a(href="/articles/feed" class="rss")
                  %i(class="fa fa-rss")
            .clearfix
          .clearfix
