!!!
%html(lang="en")
  %head
    %title= site_title
    = stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'additional_javascript' if additional_javascript_permitted?
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body.home-template
    = render 'header'
    #logbook-post-wrapper
      .container
        .row
          .col-lg-12
            = yield
    = render 'footer'
